<hello name="{{ name }}"></hello>
<p>
  Build this dynamically using json object
  <code>
    <pre>
      {{ '{' }}
        'main1': ['sub1', 'sub2'],
        'main2': ['sub1', 'sub2', 'sub3'],
      {{ '}' }}
    </pre>
  </code>
</p>

<button mat-button [matMenuTriggerFor]="main_menu">My menu</button>

<mat-menu #main_menu="matMenu">
  <ng-container *ngFor="let mainItem of objectKeys(my_menu)">
    <button mat-menu-item [matMenuTriggerFor]="sub_menu">{{ mainItem }}</button>
    <mat-menu #sub_menu="matMenu">
      <button *ngFor="let subItem of my_menu[mainItem]" mat-menu-item>
        {{ subItem }}
      </button>
    </mat-menu>
  </ng-container>
</mat-menu>

<ng-container *ngFor="let item of menus">
  <button mat-button [matMenuTriggerFor]="menu.subMenu">
    {{ item.menu.nome }}
  </button>
  <app-sub-menu #menu [items]="item.menu.submenus"></app-sub-menu>
</ng-container>
